---
page_title: "{{.Type}} {{.Name}} - {{.ProviderShortName}}"
subcategory: "Version Handler"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}} (Data Source)

{{ .Description | trimspace }}

## Example Usage

{{ tffile (printf "examples/data-sources/%s/data-source.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}
