---
page_title: "{{.Type}} {{.Name}} - {{.ProviderShortName}}"
subcategory: "Version Handler V2"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}}: {{.Name}}

{{ .Description | trimspace }}

## Usage

{{ tffile (printf "examples/data-sources/%s/main.tf" .Name)}}

## Override ECR Repository
Normally, the data source retrieve ECR images from the CI process where an image is packaged to ECR.
This example shows how to override the default ECR repository used by the data source.

{{ tffile (printf "examples/data-sources/%s/override-ecr.tf" .Name)}}

## Monorepo Usage

{{ tffile (printf "examples/data-sources/%s/monorepo.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}
