---
page_title: "{{.Type}} {{.Name}} - {{.ProviderShortName}}"
subcategory: "Version Handler V2"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}}: {{.Name}}

{{ .Description | trimspace }}

## Basic Usage
S3 Bucket and Object will be validated to ensure they exist in your AWS service account id.

{{ tffile (printf "examples/data-sources/%s/main.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}
