---
page_title: "{{.Type}} {{.Name}} - {{.ProviderShortName}}"
subcategory: "Version Handler V2"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}}: {{.Name}}

{{ .Description | trimspace }}

## Using S3 Artifact
S3 Bucket and Object will be validated to ensure they exist in your AWS service account id.

{{ tffile (printf "examples/data-sources/%s/s3.tf" .Name)}}

## Using ECR Images
ECR Repository will be validated to ensure it exists in your AWS service account id.

{{ tffile (printf "examples/data-sources/%s/ecr.tf" .Name)}}

## Mono Repo Usage

{{ tffile (printf "examples/data-sources/%s/monorepo.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}
